@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   font-family: 'Open Sans',sans-serif;
}

.header {
    text-align: center;
    font-size: xx-large;
    
}

.bingoFrame {
    color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bingoBox {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    background-color: lightblue;
    width: 18%;
    margin: 1%;
    padding: 1%;
    justify-content: center;
}

.bingoText{
    flex: 1 1 auto;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cardName{
    /* flex: 3 3 30%; */
    /* justify-content: flex-start; */
    text-transform: uppercase;
    font-size: large;
    margin: 5px;
}

#cardText{
    /* flex: 6 6 60%; */
    /* justify-content: center; */
    font-size: medium;
    margin: 5px;
}

#cardDifficulty {
    /* flex: 1 1 10%; */
    /* justify-content: flex-end; */
    font-size: 25px;
    margin: 5px;
}